.content-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin-top: 8rem;
  
  @include media($tablet) {
    min-height: 100vh;
    width: calc(100vw - var(--sidebar-width));
    margin-top: 0;
    margin-left: var(--sidebar-width);
  }
}

