.content-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin-top: 8rem;
  
  @include media($tablet) {
    min-height: 100vh;
    width: calc(100vw - var(--sidebar-width));
    margin-top: 0;
    margin-left: var(--sidebar-width);
  }
}

.form-input {
  font: inherit;
  padding: .5rem 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

.active-button{
      cursor: pointer;
      z-index: 1;
      max-height: 55px;
      height: 55px;
      overflow: hidden;
      text-align: center;
      background-color: transparent;
      border: none;
      
      // border: 0.5px dashed white;
      // overflow: hidden;
      box-sizing: border-box;
      margin: 0;
      color: var(--c-active);
      
      font-weight: 700;
      // letter-spacing: 7px;
      text-decoration: none;
      
      @include media(800px) {
        font-size: 1.6rem;
        padding: calc(3vh - 5px) 2.6rem;
      }
  
      @include media(300px) {
        height: auto;
        font-size: 1.4rem;
         padding: calc(3vh - 5px) 1rem;
      }
      // font-size: 1rem;


      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      display: flex;
      transition: all .4s ease;
      // transition-delay: .2s;
    /*   align-items: center; */
    /*   justify-content: center; */
}

.hover-button:hover {
  // color: var(--c-text-dark);
  position: relative;
  transition: all .2s ease-out;
  letter-spacing: 0.3rem;
  font-size: 3.2rem;
}


// MODAL

modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

// MODAL END

.styled-button{
      z-index: 1;
      // max-height: 55px;
      height: 38px;
      overflow: hidden;
      text-align: center;
      background-color: transparent;
      border: none;
      // border: 0.5px dashed white;
      // overflow: hidden;
      box-sizing: border-box;
      margin: 0;
      color: var(--c-background-light);
      
      font-weight: 700;
      // letter-spacing: 7px;
      text-decoration: none;

      @include media($tablet) {
        height: 55px;

        font-size: 1.6rem;
        padding: calc(3vh - 5px) 2.6rem;
      }
  
      @include media(300px) {
        // height: $footerHeight;
        font-size: 1.4rem;
         padding: calc(3vh - 5px) .5rem;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      display: flex;
      transition: all .4s ease;
      // transition-delay: .2s;
    /*   align-items: center; */
    /*   justify-content: center; */

      &::before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--c-active);
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      transform: scaleX(0);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--c-background-dark);
      transition: transform .5s cubic-bezier(0.6, 0.05, 0.01, 0.99);
      transform-origin:  right;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin:  left;

    }
    & .border {
      display: inline-block;
      position: absolute;
      background-color: #202020;
      transition: all .3s ease;
    }
  }


.errorMessage {
  color: hsl(0, 100%, 50%);
}

