.content-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin-top: 8rem;
  
  @include media($tablet) {
    min-height: 100vh;
    width: calc(100vw - var(--sidebar-width));
    margin-top: 0;
    margin-left: var(--sidebar-width);
  }
}

.form-input {
  font: inherit;
  padding: .5rem 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

.active-button{
      cursor: pointer;
      z-index: 1;
      max-height: 55px;
      height: 55px;
      overflow: hidden;
      text-align: center;
      background-color: transparent;
      border: none;
      // border: 0.5px dashed white;
      // overflow: hidden;
      box-sizing: border-box;
      margin: 0;
      color: var(--c-active);
      
      font-weight: 700;
      // letter-spacing: 7px;
      text-decoration: none;
      
      @include media(800px) {
        font-size: 1.6rem;
        padding: calc(3vh - 5px) 2.6rem;
      }
  
      @include media(300px) {
        height: auto;
        font-size: 1.4rem;
         padding: calc(3vh - 5px) 1rem;
      }
      // font-size: 1rem;


      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      display: flex;
      transition: all .4s ease;
      // transition-delay: .2s;
    /*   align-items: center; */
    /*   justify-content: center; */
}

.hover-button:hover {
  color: var(--c-text-dark);
  position: relative;
  transition: all .2s ease-out;
  letter-spacing: 0.3rem;
  font-size: 3.2rem;
}