.navbar-item {
  margin-left: 0;
  @include media(768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar-dropdown{
  background-color: var(--c-background-dark);
  .navbar-item {
    color: var(--c-text-light);
    font-size: 1.4rem;
  }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ddd;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::selection {
  background: var(--c-active);
  color: var(--c-background-light); 
}
html {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.nuxt-link {
  display: block;
  width: 100%;
  text-align: center;
  // margin: 3rem !important;
  position: relative;
  padding: 1rem;
  color: var(--c-active);
  font-size: 1.6rem;
  // transition: all .3s ease-in;
  display: block;
  cursor: pointer;
  // width: 80%;
  @include media($tablet) {
      color: var(--c-active);
      text-align: left;
  }
  @include media($tablet) {
    font-size: 1.4rem;
  }
  @include media($laptop) {
    font-size: 1.6rem;
  }

  &:before {
    z-index: -1;
    transition: all .3s ease;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--c-active);
    position: absolute;
  
    @include media($tablet) {
      height: 3px;
      top: 90%;

    }


  }
  &:hover {
    color: var(--c-background-light);
    @include media($tablet) {
      color: var(--c-active);
    }
  }
  &:hover:before {
    z-index: -1;
    width: 100vw;
     @include media($tablet) {
      
      width: 100%;
    }
  }
}

.nuxt-link-active {
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--c-background-light);

  @include media($tablet) {
    color: var(--c-active);
    text-align: left;
  }
  display: block;
  &:before {
    transition: all .3s ease;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--c-active);
    position: absolute;

    @include media($tablet) {
      height: 3px;
      top: 90%;
      width: 100%;
      text-align: center;
    }
  }
}

// BULMA RESET

.label,
.taginput,

a.dropdown-item,
.tag > *,
.input {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
}

.control {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.icon {
  margin-top: .6rem !important;
}