.navbar-item {
  margin-left: 0;
  @include media(768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar-dropdown{
  background-color: var(--c-background-dark);
  .navbar-item {
    color: var(--c-text-light);
    font-size: 1.4rem;
  }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ddd;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::selection {
  color: var(--c-text-active);
  background: var(--c-background-dark); 
}