@mixin mobile {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin media($width) {
  @media screen and(min-width: $width) {
    @content;
  }
}

@mixin image($src) {
  background-image: url($src);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin image-darken($src, $opacity) {
  background:linear-gradient( rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity) ), url($src);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin translateTransition {
  transition: all $translateTime $translateFunction;
}