$mobile-width: 600px;
$tablet-width: 900px;
$desktop-width: 1200px;

$border: 1px solid var(--c-border);

$box-shadow: 0 1rem 2rem var(--c-border);

$transition-all-time: 0.45s;

$sidebarWidth: 227px;

$translateFunction: ease-in-out;
$translateTime: 0.5s;